.navigation-light-mode {
  background-color: #d4d4d4;
  border: 1px solid #000;
}

.navigation-dark-mode {
  background-color: #454545;
  border: 1px solid #fff;
}

.navigation-dark-mode, .navigation-light-mode {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  border-radius: 15px;
  padding: 10px;
}

.icon-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.information {
  grid-column-start: 1;
  grid-column-end: 2;
}
.user-guide {
  grid-column-start: 2;
  grid-column-end: 3;
}
.calendars {
  grid-column-start: 3;
  grid-column-end: 4;
}
.holiday-request {
  grid-column-start: 1;
  grid-column-end: 2;
}
.add-group {
  grid-column-start: 2;
  grid-column-end: 3;
}
.add-event {
  grid-column-start: 3;
  grid-column-end: 4;
}
.submit-feedback {
  grid-column-start: 1;
  grid-column-end: 2;
}
.holiday-request-status {
  grid-column-start: 2;
  grid-column-end: 3;
}
.admin-page {
  grid-column-start: 1;
  grid-column-end: 2;
}
.view-feedback {
  grid-column-start: 2;
  grid-column-end: 3;
}
.add-user {
  grid-column-start: 3;
  grid-column-end: 4;
}
.view-holiday-request {
  grid-column-start: 1;
  grid-column-end: 2;
}
.unknown {
  grid-column-start: 2;
  grid-column-end: 3;
}
.unknown {
  grid-column-start: 3;
  grid-column-end: 4;
}
.divider {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 20px;
}